.myTripBtn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.myTripBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
    color: #fff;
}


@media (max-width: 1024px) {
    .myTripBtn {
        padding: 14px 28px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .myTripBtn {
        padding: 12px 25px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .myTripBtn {
        padding: 10px 20px;
        font-size: 13px;
        width: 80%;
        text-align: center; 
        display: block;
        margin: 0 auto;  
    }
}

@media (max-width: 370px) {
    .myTripBtn {
        padding: 8px 16px;
        font-size: 12px;
        width: 90%;       
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}
