footer {
    background: linear-gradient(0deg, #ff7e5f, #feb47b);
}

.firstFooter {
    margin: 0 auto;
    padding: 30px 0;
    flex-wrap: wrap;
}

.footerIcons .icons svg {
    cursor: pointer;
    transition: 0.5s;
    font-size: 25px;
    margin: 15px 0;

    &:hover {
        color: blue;
    }
}

.footerNewsletter h2 {
    margin: 15px 0;
}

.footerNewsletter input {
    padding: 10px !important;
}

.footerNewsletter form .footBtn {
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    background-color: #07497A;
}


.footerContainer {
    border-top: 1.5px solid #07497A;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 30px 0;
    flex-wrap: wrap;
}

.aboutTravel p {
    margin-top: 20px;
}

.link span {
    margin-top: 10px;

    &:hover {
        a {
            transition: 0.5s;
            color: rgb(128, 0, 60);
        }
    }
}

.dests a {
    margin-top: 10px;

    &:hover {

        transition: 0.5s;
        color: rgb(189, 50, 115);
    }
}

.khan {
    color: #07497A;
}

.location,
.call,
.email {
    margin-top: 10px;
}

.lastCont {
    margin: 0 auto;
    padding: 30px 0;
    border-top: 1.5px solid #07497A;
}




@media (max-width: 1024px) {
    .firstFooter {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .footerNewsletter form input {
        width: 250px !important;
    }

    .footerContainer>div {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footerNewsletter form input {
        width: 150px !important;
    }

    .firstFooter {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerContainer>div {
        width: 100%;
        text-align: center;
    }

    .footerContainer .contacts,
    .location,
    .call,
    .email {
        justify-content: center;
        align-items: start;
    }

    .aboutTravel p {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 480px) {

    .footerNewsletter form input {
        width: 150px !important;
    }

    .firstFooter {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footerIcons .icons {
        justify-content: center;
    }
}


@media (max-width: 370px) {
    footer {
        margin: 0 auto;
    }

    .firstFooter {
        margin-right: 30px;
    }

    .footerNewsletter form {
        display: flex !important;
        gap: 5px;
    }

    .footerNewsletter form {
        width: 50% !important;
        margin: 0 auto;
        font-size: 10px;
        padding: 0;
    }

    .footerNewsletter form .footBtn {
        width: 50px !important;
        height: 100% !important;
    }
}